* {
  padding: 0;
  margin: 0;
}

body {
  width: auto;
  background-image: url('images/pixelsartcut.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: Fascinate;

}

h1 {
  font-size: 70px;
  font-weight: 900;
  padding-top: 50px;
  text-align: center;
  color: white;
  text-decoration: double;
}

#div-cores {
  text-align: center;
}

#color-palette {
  display: inline-block;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
  width: auto;
  border: solid black 2px;
  background-color: white;
  border-radius: 20px;
}

.color {
  width: 40px;
  height: 40px;
  border: black solid 1px;
  display: inline-block;
  margin: 10px;
  border-radius: 50%;
}

.color:hover {
  opacity: 80%;
  width: 42px;
  height: 42px;
}

.selected {
  width: 40px;
  height: 40px;
  border: white currentColor 1px;
  display: inline-block;
  margin: 10px;
}

#pixel-board {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

}

.pixel-row {
  height: 30px;
}

.pixel {
  width: 30px;
  height: 30px;
  border: black solid 2px;
  display: inline-block;
  background-color: white;

}

#div-botao {
  text-align: center;
  padding-top: 20px;
}

#clear-board {
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 18px;
  border-radius: 20px;
  background-color: red;
  border: red;
}

#board-size {
  width: 60px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  margin-left: 30px;
}

#generate-board {
  text-align: center;
  width: auto;
  padding: 5px;
  font-size: 18px;
  border-radius: 20px;
  background-color: green;
  border: green;
  margin-left: 15px;
}